<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HomeSections</key>
	<dict>
		<key>Section0</key>
		<dict>
			<key>iconNormal</key>
			<string>agua_caliente</string>
			<key>sectionList</key>
			<dict>
				<key>Dining</key>
				<true/>
				<key>Events</key>
				<true/>
				<key>Golf</key>
				<true/>
				<key>Location</key>
				<true/>
				<key>Rooms</key>
				<true/>
				<key>Spa</key>
				<true/>
			</dict>
			<key>tabName</key>
			<string>Aqua Caliente</string>
			<key>tag</key>
			<integer>0</integer>
		</dict>
		<key>Section1</key>
		<dict>
			<key>iconNormal</key>
			<string>fantasy_springs</string>
			<key>sectionList</key>
			<dict>
				<key>Dining</key>
				<true/>
				<key>Events</key>
				<true/>
				<key>Golf</key>
				<true/>
				<key>Location</key>
				<true/>
				<key>Rooms</key>
				<true/>
				<key>Spa</key>
				<false/>
			</dict>
			<key>tabName</key>
			<string>Fantasy Springs</string>
			<key>tag</key>
			<integer>1</integer>
		</dict>
		<key>Section10</key>
		<dict>
			<key>iconNormal</key>
			<string>spotlight29</string>
			<key>sectionList</key>
			<dict>
				<key>Dining</key>
				<true/>
				<key>Events</key>
				<true/>
				<key>Golf</key>
				<true/>
				<key>Location</key>
				<true/>
				<key>Rooms</key>
				<false/>
				<key>Spa</key>
				<false/>
			</dict>
			<key>tabName</key>
			<string>Spotlight 29</string>
			<key>tag</key>
			<integer>10</integer>
		</dict>
		<key>Section2</key>
		<dict>
			<key>iconNormal</key>
			<string>harrahs</string>
			<key>sectionList</key>
			<dict>
				<key>Dining</key>
				<true/>
				<key>Events</key>
				<true/>
				<key>Golf</key>
				<true/>
				<key>Location</key>
				<true/>
				<key>Rooms</key>
				<true/>
				<key>Spa</key>
				<true/>
			</dict>
			<key>tabName</key>
			<string>Harrah&apos;s</string>
			<key>tag</key>
			<integer>2</integer>
		</dict>
		<key>Section3</key>
		<dict>
			<key>iconNormal</key>
			<string>morongo</string>
			<key>sectionList</key>
			<dict>
				<key>Dining</key>
				<true/>
				<key>Events</key>
				<true/>
				<key>Golf</key>
				<true/>
				<key>Location</key>
				<true/>
				<key>Rooms</key>
				<true/>
				<key>Spa</key>
				<true/>
			</dict>
			<key>tabName</key>
			<string>Morongo</string>
			<key>tag</key>
			<integer>3</integer>
		</dict>
		<key>Section4</key>
		<dict>
			<key>iconNormal</key>
			<string>pala</string>
			<key>sectionList</key>
			<dict>
				<key>Dining</key>
				<true/>
				<key>Events</key>
				<true/>
				<key>Golf</key>
				<true/>
				<key>Location</key>
				<true/>
				<key>Rooms</key>
				<true/>
				<key>Spa</key>
				<true/>
			</dict>
			<key>tabName</key>
			<string>Pala</string>
			<key>tag</key>
			<integer>4</integer>
		</dict>
		<key>Section5</key>
		<dict>
			<key>iconNormal</key>
			<string>pauma</string>
			<key>sectionList</key>
			<dict>
				<key>Dining</key>
				<true/>
				<key>Events</key>
				<true/>
				<key>Golf</key>
				<true/>
				<key>Location</key>
				<true/>
				<key>Rooms</key>
				<false/>
				<key>Spa</key>
				<false/>
			</dict>
			<key>tabName</key>
			<string>Pauma</string>
			<key>tag</key>
			<integer>5</integer>
		</dict>
		<key>Section6</key>
		<dict>
			<key>iconNormal</key>
			<string>pechanga</string>
			<key>sectionList</key>
			<dict>
				<key>Dining</key>
				<true/>
				<key>Events</key>
				<true/>
				<key>Golf</key>
				<true/>
				<key>Location</key>
				<true/>
				<key>Rooms</key>
				<true/>
				<key>Spa</key>
				<true/>
			</dict>
			<key>tabName</key>
			<string>Pechanga</string>
			<key>tag</key>
			<string>6</string>
		</dict>
		<key>Section7</key>
		<dict>
			<key>iconNormal</key>
			<string>sanmanuel</string>
			<key>sectionList</key>
			<dict>
				<key>Dining</key>
				<true/>
				<key>Events</key>
				<true/>
				<key>Golf</key>
				<true/>
				<key>Location</key>
				<true/>
				<key>Rooms</key>
				<false/>
				<key>Spa</key>
				<false/>
			</dict>
			<key>tabName</key>
			<string>San Manuel</string>
			<key>tag</key>
			<string>7</string>
		</dict>
		<key>Section8</key>
		<dict>
			<key>iconNormal</key>
			<string>soboba</string>
			<key>sectionList</key>
			<dict>
				<key>Dining</key>
				<true/>
				<key>Events</key>
				<true/>
				<key>Golf</key>
				<true/>
				<key>Location</key>
				<true/>
				<key>Rooms</key>
				<false/>
				<key>Spa</key>
				<false/>
			</dict>
			<key>tabName</key>
			<string>Soboba</string>
			<key>tag</key>
			<integer>8</integer>
		</dict>
		<key>Section9</key>
		<dict>
			<key>iconNormal</key>
			<string>sparesort</string>
			<key>sectionList</key>
			<dict>
				<key>Dining</key>
				<true/>
				<key>Events</key>
				<true/>
				<key>Golf</key>
				<true/>
				<key>Location</key>
				<true/>
				<key>Rooms</key>
				<true/>
				<key>Spa</key>
				<true/>
			</dict>
			<key>tabName</key>
			<string>Spa Resort</string>
			<key>tag</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SubSections</key>
	<dict>
		<key>SubSections0</key>
		<dict>
			<key>iconNormal</key>
			<string>map</string>
			<key>tabName</key>
			<string>Location</string>
			<key>tag</key>
			<integer>0</integer>
			<key>url</key>
			<string>aaaa</string>
		</dict>
		<key>SubSections1</key>
		<dict>
			<key>iconNormal</key>
			<string>dining</string>
			<key>tabName</key>
			<string>Dining</string>
			<key>tag</key>
			<integer>1</integer>
			<key>url</key>
			<string>aaaa</string>
		</dict>
		<key>SubSections2</key>
		<dict>
			<key>iconNormal</key>
			<string>events</string>
			<key>tabName</key>
			<string>Events</string>
			<key>tag</key>
			<integer>2</integer>
			<key>url</key>
			<string>aaaa</string>
		</dict>
		<key>SubSections3</key>
		<dict>
			<key>iconNormal</key>
			<string>rooms</string>
			<key>tabName</key>
			<string>Rooms</string>
			<key>tag</key>
			<integer>3</integer>
			<key>url</key>
			<string>aaaa</string>
		</dict>
		<key>SubSections4</key>
		<dict>
			<key>iconNormal</key>
			<string>golf</string>
			<key>tabName</key>
			<string>Golf</string>
			<key>tag</key>
			<integer>4</integer>
			<key>url</key>
			<string>aaaa</string>
		</dict>
		<key>SubSections5</key>
		<dict>
			<key>iconNormal</key>
			<string>spa</string>
			<key>tabName</key>
			<string>Spa</string>
			<key>tag</key>
			<integer>5</integer>
			<key>url</key>
			<string>aaaa</string>
		</dict>
	</dict>
	<key>TabItems</key>
	<dict>
		<key>Tab0</key>
		<dict>
			<key>iconNormal</key>
			<string>Casinos_disabled</string>
			<key>iconSelect</key>
			<string>Casinos_enabled</string>
			<key>navigationName</key>
			<string>Casinos</string>
			<key>tabName</key>
			<string>Casinos</string>
		</dict>
		<key>Tab1</key>
		<dict>
			<key>iconNormal</key>
			<string>Dining_disabled</string>
			<key>iconSelect</key>
			<string>Dining_enabled</string>
			<key>navigationName</key>
			<string>Dining.png</string>
			<key>tabName</key>
			<string>Dining</string>
		</dict>
		<key>Tab2</key>
		<dict>
			<key>iconNormal</key>
			<string>Events_disabled</string>
			<key>iconSelect</key>
			<string>Events_enabled</string>
			<key>navigationName</key>
			<string>Events</string>
			<key>tabName</key>
			<string>Events</string>
		</dict>
		<key>Tab3</key>
		<dict>
			<key>iconNormal</key>
			<string>Location_disabled</string>
			<key>iconSelect</key>
			<string>Location_enabled</string>
			<key>navigationName</key>
			<string>Map</string>
			<key>tabName</key>
			<string>Map</string>
		</dict>
		<key>Tab4</key>
		<dict>
			<key>iconNormal</key>
			<string>More_disabled</string>
			<key>iconSelect</key>
			<string>More_enabled</string>
			<key>navigationName</key>
			<string>More</string>
			<key>tabName</key>
			<string>More</string>
		</dict>
		<key>Tab5</key>
		<dict>
			<key>iconNormal</key>
			<string>aboutNormal.png</string>
			<key>iconSelect</key>
			<string>aboutSelect.png</string>
			<key>navigationName</key>
			<string>About</string>
			<key>tabName</key>
			<string>About</string>
		</dict>
		<key>Tab6</key>
		<dict>
			<key>iconNormal</key>
			<string>favoritesNormal.png</string>
			<key>iconSelect</key>
			<string>favoritesNormal.png</string>
			<key>navigationName</key>
			<string>Favourites</string>
			<key>tabName</key>
			<string>Favorites</string>
		</dict>
		<key>Tab7</key>
		<dict>
			<key>iconNormal</key>
			<string>SettingNormal.png</string>
			<key>iconSelect</key>
			<string>SettingSelect.png</string>
			<key>navigationName</key>
			<string>Settings</string>
			<key>tabName</key>
			<string>Settings</string>
		</dict>
	</dict>
</dict>
</plist>
